// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #F18245;
$green: #1edd88;
$gray: #333333;
$light-gray: #f7f7f7;
$color1: #f7e9c9;
$color2: #43aa44;
$color3: #e2ecc9;
$color4: #0c4331;
