.banner-show {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: auto;
  min-height: 90vh;
  text-align: center;
}

.group-form {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.titre_searchbar_voyageur {
  margin-top: 10vh;
  h1 {
    margin: 0px;
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  p {
    font-size: 25px;
    color: white;
    opacity: 0.8;
    margin-bottom: 30px;
  }
}

.searchbar-show {
  // background-color: rgba($color: white, $alpha: 0.6);
  // border-radius: 10px;
  // width: auto;
  position: relative;
}

#ville_depart{
  position: relative;
}

.fake-btn-show {
  min-width: 200px;
  padding: 7px;
  border-radius: 20px;
  color: #6c757d;
  opacity: 0.9;
  background-color: #f7f7f7;
  border: none;
  transition: opacity 0.5s ease;
  width: 390px;
  margin-right: 10px;
  height: 38px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.recap-infos-travelers-fly_from {
  min-width: 200px;
  padding: 7px;
  border-radius: 20px;
  color: #6c757d;
  opacity: 0.9;
  background-color: #f7f7f7;
  border: none;
  transition: opacity 0.5s ease;
  width: 390px;
  margin-right: 10px;
  height: 38px;
  margin-bottom: 0;
}

.recap-infos-travelers {
  margin-right: 10px;
  text-align: center;
  padding: 7px;
  border-radius: 20px;
  color: #6c757d;
  opacity: 0.9;
  background-color: #f7f7f7;
  border: none;
  width: 200px !important;
}


.mongol-show1 {
  width: 100px;
  height: 100px;
  position: relative;
  animation: anim1 50s linear 0s infinite alternate;
}
@keyframes anim1 {
  0% {
    left: 300px;
    top: -200px;
  }
  // 25%  {left:280px; top:-50px;}
  // 50%  {left:280px; top:200px;}
  // 75%  {left:280px; top:200px;}
  100% {
    left: 300px;
    top: -445px;
  }
}

.mongol-show2 {
  width: 100px;
  height: 100px;
  position: relative;
  animation: anim2 35s linear 0s infinite alternate;
}
@keyframes anim2 {
  0% {
    left: -190px;
    top: -250px;
  }
  100% {
    left: -190px;
    top: -535px;
  }
}

.mongol-show3 {
  width: 100px;
  height: 100px;
  position: relative;
  animation: anim3 30s linear 0s infinite alternate;
}
@keyframes anim3 {
  0% {
    left: 600px;
    top: -200px;
  }
  10% {
    left: 600px;
    top: -200px;
  }
  20% {
    left: 600px;
    top: -170px;
  }
  30% {
    left: 600px;
    top: -200px;
  }
  40% {
    left: 600px;
    top: -170px;
  }
  50% {
    left: 600px;
    top: -200px;
  }
  60% {
    left: 600px;
    top: -170px;
  }
  70% {
    left: 600px;
    top: -200px;
  }
  80% {
    left: 600px;
    top: -170px;
  }
  90% {
    left: 600px;
    top: -200px;
  }
  100% {
    left: 600px;
    top: -170px;
  }
}
