<h1>TICKETS TROOP COOL</h1>
<h1>SEARCH</h1>

<div class = "container">
  <h1>Votre selection de voyages </h1>
   <div class="grande-card p-3">
     <div id="first-card" class ="p-3 mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <h4>ROME</h4>
            <p>Italie</p>
            <p id="destination"><i class="fas fa-star"></i> <em>Notre meilleure selection</em></p>
            <p id="prix-voyage"> 80 à 170$/personne </p>
          </div>
  </div>
  <div class="cards p-3 mt-1" style="min-height : 65vh">
    <%# @missions.each do |mission| %>
      <%#= link_to  mission_path(mission) do %>
        <%# if mission.photo.attached?%>

           <div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <h4>ROME</h4>
            <p>Italie</p>
            <p id="prix-voyage"> 80 à 170$/personne </p>
          </div>
           <div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <h4>ROME</h4>
            <p>Italie</p>
            <p id="prix-voyage"> 80 à 170$/personne </p>
          </div>
           <div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <h4>ROME</h4>
            <p>Italie</p>
            <p id="prix-voyage"> 80 à 170$/personne </p>
          </div>
           <div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <h4>ROME</h4>
            <p>Italie</p>
            <p id="prix-voyage"> 80 à 170$/personne </p>
          </div>
  </div>
</div>

<h1>Tickets</h1>
<div class = "container">
  <h1>Votre voyage a destination de : Rome, Italie</h1>
   <div class="grande-card p-3">
    <h4 class="text-right">Date: 12/12/2020</h4>
     <div id="banner-ticket" class ="p-3 mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/2909083/pexels-photo-2909083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
        <h4><i class="fa fa-plane"></i><em> Voyage de Leo</em></h4><p><em>Au depart de Marseille</em></p>
     </div>
  </div>
  <div class="cards p-3 mt-1">
    <%# @missions.each do |mission| %>
      <%#= link_to  mission_path(mission) do %>
        <%# if mission.photo.attached?%>
           <div class="card-tickets p-3">
            <h4>Marseille => Rome</h4>
            <p>12/12/2020</p>
            <h4>Rome => Marseille</h4>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
           <div class="card-tickets p-3">
            <h4>Marseille ==> Rome</h4>
            <p>12/12/2020</p>
            <h4>Rome => Marseille</h4>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
  </div>
   <div class="grande-card p-3 mt-3">
     <div id="banner-ticket" class ="p-3 mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/2909083/pexels-photo-2909083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
        <h4><i class="fa fa-plane"></i><em> Voyage de Lea</em></h4><p><em>Au depart de Lyon</em></p>
     </div>
  </div>
  <div class="cards p-3 mt-1">
    <%# @missions.each do |mission| %>
      <%#= link_to  mission_path(mission) do %>
        <%# if mission.photo.attached?%>

           <div class="card-tickets p-3">
            <h4>Marseille => Rome</h4>
            <p>12/12/2020</p>
            <h4>Rome => Marseille</h4>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
           <div class="card-tickets p-3">
            <h4>Marseille => Rome</h4>
            <p>12/12/2020</p>
            <h4>Rome => Marseille</h4>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
  </div>
</div>
<!-- je récup ma ville d'arrivée !! -->


