<div class = "container">
  <h1>Votre voyage a destination de : Rome, Italie</h1>
   <div class="grande-card p-3">
    <h4 class="text-right">Date: 12/12/2020</h4>
     <div id="banner-ticket" class ="p-3 mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/2909083/pexels-photo-2909083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
        <h3><i class="fa fa-plane"></i><em> Voyage de Polo</em></h3><p><em>Au depart de Marseille</em></p>
     </div>
  </div>
  <div class="cards p-3 mt-1">
    <%# @missions.each do |mission| %>
      <%#= link_to  mission_path(mission) do %>
        <%# if mission.photo.attached?%>
           <div class="card-tickets p-3">
            <h3>Marseille <i class="fas fa-long-arrow-alt-right"></i> Rome</h3>
            <p>12/12/2020</p>
            <h3>Rome <i class="fas fa-long-arrow-alt-right"></i> Marseille</h3>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
           <div class="card-tickets p-3">
            <h3>Marseille <i class="fas fa-long-arrow-alt-right"></i> Rome</h3>
            <p>12/12/2020</p>
            <h3>Rome <i class="fas fa-long-arrow-alt-right"></i> Marseille</h3>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
  </div>
   <div class="grande-card p-3 mt-3">
     <div id="banner-ticket" class ="p-3 mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/2909083/pexels-photo-2909083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
        <h3><i class="fa fa-plane"></i><em> Voyage de Stéphane</em></h3><p><em>Au depart de Lyon</em></p>
     </div>
  </div>
  <div class="cards p-3 mt-1">
    <%# @missions.each do |mission| %>
      <%#= link_to  mission_path(mission) do %>
        <%# if mission.photo.attached?%>

           <div class="card-tickets p-3">
            <h3>Marseille <i class="fas fa-long-arrow-alt-right"></i> Rome</h3>
            <p>12/12/2020</p>
            <h3>Rome <i class="fas fa-long-arrow-alt-right"></i> Marseille</h3>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
           <div class="card-tickets p-3">
            <h3>Marseille <i class="fas fa-long-arrow-alt-right"></i> Rome</h3>
            <p>12/12/2020</p>
            <h3>Rome <i class="fas fa-long-arrow-alt-right"></i> Marseille</h3>
            <p>16/12/2020</p>
            <p id="prix-voyage" class= "btn btn-ghost"> Reserver </p>
          </div>
  </div>
</div>
<!-- je récup ma ville d'arrivée !! -->


