<h1>PAS DE RESULTATS, REFAIS LA RECHERCHE</h1>
ou attends que claire fasse le code pour
modifier direct à partir de cette page

moi je voudrais faire une option : "chercher les jours suivants"
qui relancerait la recherche mais au lieu de chercher un jour J
ça cherche le jour J et le jour J+1
