<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>
<div class='c'>
    <div class='_404'>OUPS</div>
    <hr>
    <div class='_1'>Certains vols ne sont plus disponibles.</div>
    <div class='_2'>Veuillez relancer une recherche.</div>
    <a class='btn-noresults' href="/">Nouvelle recherche</a>
</div>
