<h1>GroupTrotter</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/730778/pexels-photo-730778.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
  <div class="container">
    <h1>Reunissez-vous facilement !</h1>
    <p>Le facilitateur des voyages a plusieurs.</p>
    <a class="btn btn-flat" href="/groups/new">Je voyage</a>
  </div>
</div>

test autocomplete :
<input type="text" id="results-from">

test datepicker :
<input class="datepicker">
<%# le modèle pour le f.input :
f.input :end_time ,
                  label: false,
                  placeholder: "Choisir date",
                  as: :string,
                  input_html: { class: "datepicker"} %>


