<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/161850/venice-grand-canal-water-boats-161850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
  <div class="container text-center">
    <h1>Reunissez-vous facilement ! ✈</h1>
    <p>Le facilitateur des voyages a plusieurs.</p>
  </div>
  <div class="container p-3 mt-5 searchbar">
      <%= simple_form_for(@group) do |f| %>
        <%= f.input :fly_to,
                    label: false,
                    placeholder: "Destination"%>
                    <div id="container">
    <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
  </div>
   <div class="d-flex justify-content-end">
      <%= f.submit "Fly", class: "btn btn-search"%>
    <% end %>
  </div>
  </div>
  <%# <a class="btn btn-flat" href="/groups/new">Je voyage</a> %>
</div>

<div class="container d-flex my-5 p-3 align-items-center w-50" style = "box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); border-radius: 5px">
  <div class ="mr-3">
  <%= image_tag("undraw_travel_together_re_kjf2.png", class:"image-home") %>
  </div>
  <div>
    <h3>Reunissez-vous facilement avec GroupTrotter !</h3>
    <p>GroupTrotter permet aux personnes vivant dans differentes villes de trouver facilement une destination commune de voyage repondant aux criteres de chacun.</p>
  </div>
</div>

