.container-autocomplete {
  // display: flex;
  // flex-direction: column;
  border-radius: 50px;
  margin-bottom: 15px;
  vertical-align: middle;
  position: absolute;
  width: 390px;
  top: 53px;
  left: -2px;
}

.container-autocomplete-show {
  // display: flex;
  // flex-direction: column;
  border-radius: 50px;
  margin-bottom: 15px;
  vertical-align: middle;
  position: absolute;
  top: 40px;
  left: -2px;
}

.proposition {
  margin: 2px;
  padding: 7px 12px 7px 12px;
  border-radius: 20px;
  color: #6c757d;
  opacity: 0.8;
  background-color: #f7f7f7;
  border: none;
  transition: opacity 0.5s ease;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 390px;
  white-space: nowrap;
  text-align: left;
}

.proposition:hover {
  // background-color: rgb(238, 234, 234);
  // color: black;
  // opacity: 0.9;
  background-color: #f18230;
  opacity: 0.9;
  color: #f7f7f7;
}
