.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 93vh;
  display: flex;
  text-align: center;
  justify-content: center;
}


.banner h1 {
    margin: 0px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: 0.8;
  margin-bottom: 30px;
}
