.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  min-height: 80%;
  a {
    text-decoration: none !important;
  }
}


// TICKETS
.card-tickets {
  height: auto;
  color: rgba(100, 100, 100, 1);
  font-size: 18px;
  border-radius: 10px;
  position: relative;
  background: #f7f7f7;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  h4 {
    font-size: 20px !important;
    font-weight: bold;
    margin: 0 !important;
  }
  #prix-tickets {
    position: absolute;
    bottom: 56px;
    right: 34px;
  }
  #lien-reserver {
    position: absolute;
    font-size: 16px;
    bottom: 0px;
    right: 20px;
  }
  #img-airline {
    position: absolute;
    bottom: 167px;
    height: 40px;
    right: 20px;
  }
}

.card-tickets:hover {
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.card-entete-tickets {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Lato";
  font-size: 40px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
