.hidden {
    display: none;
}

.visible {
    display: flex;
}

.loader {
    width: 900px;
    height: 200px;
    display: none;
}

.text{
  color: gray;
  margin-left: auto;
  display: inline;
  position: relative;
  top: 30px;
}

.globe-text {
  height: 75vh;
  // margin: 3rem;
  background:url(asset_path('1_worldwide.png'));
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center ;
}

#game {
  width: 400px !important;
  height: 400px !important;
  position: relative;
  top: -10px;
  left: 400px;
}
